.root {
  display: flex;
  align-items: center;
  gap: 7px;
}

.button {
  width: 21px;
  height: 21px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(-3px);
}

.button:disabled svg path {
  fill: var(--color-gray);
}

.button:disabled:hover,
.button:disabled:active {
  transform: none;
  cursor: auto;
}
