.root {
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
}

.root.company {
  gap: 14px;
}

@container news-container (max-width: 480px) {
  .root {
    gap: 0;
    margin-bottom: 14px;
  }
}
